Repository nlamirault/resume, changes with the labels that .github/labeler.yml gives for each.
All labels: area/kubernetes, area/terraform, area/ansible, area/inspec, area/github, cloud/alicloud, cloud/aws, cloud/azure, cloud/civo, cloud/digitalocean, cloud/exoscale, cloud/gcp, cloud/ibmcloud, cloud/scaleway, cloud/homelab, cloud/cicd, kind/documentation

.github/labeler.yml:

# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

# Labels for action/labeler

######################################
# Label area/xxx

area/kubernetes:
  - gitops/**/*
  - krm/**/*

area/terraform:
  - terraform/**/*

area/ansible:
  - ansible/**/*

area/inspec:
  - inspec/**/*

area/github:
  - .github/**/*

######################################
# Label cloud/xxx

cloud/alicloud:
  - terraform/alicloud/**/*
  - gitops/fluxcd/kubernetes/overlays/alicloud/**/*
  - gitops/fluxcd/clusters/alicloud/**/*
  - gitops/argocd/alicloud/**/*
  - gitops/argocd/charts/**/**/values-alicloud-*.yaml

cloud/aws:
  - terraform/aws/**/*
  - gitops/fluxcd/kubernetes/overlays/aws/**/*
  - gitops/fluxcd/clusters/aws/**/*
  - gitops/argocd/aws/**/*
  - gitops/argocd/charts/**/**/values-aws-*.yaml

cloud/azure:
  - terraform/azure/**/*
  - gitops/fluxcd/kubernetes/overlays/azure/**/*
  - gitops/fluxcd/clusters/azure/**/*
  - gitops/argocd/azure/**/*
  - gitops/argocd/charts/**/**/values-azure-*.yaml

cloud/civo:
  - terraform/civo/**/*
  - gitops/fluxcd/kubernetes/overlays/civo/**/*
  - gitops/fluxcd/clusters/civo/**/*
  - gitops/argocd/civo/**/*
  - gitops/argocd/charts/**/**/values-civo-*.yaml

cloud/digitalocean:
  - terraform/digitalocean/**/*
  - gitops/fluxcd/kubernetes/overlays/digitalocean/**/*
  - gitops/fluxcd/clusters/digitalocean/**/*
  - gitops/argocd/digitalocean/**/*
  - gitops/argocd/charts/**/**/values-digitalocean-*.yaml

cloud/exoscale:
  - terraform/exoscale/**/*
  - gitops/fluxcd/kubernetes/overlays/exoscale/**/*
  - gitops/fluxcd/clusters/exoscale/**/*
  - gitops/argocd/exoscale/**/*
  - gitops/argocd/charts/**/**/values-exoscale-*.yaml

cloud/gcp:
  - terraform/gcp/**/*
  - gitops/fluxcd/kubernetes/overlays/gcp/**/*
  - gitops/fluxcd/clusters/gcp/**/*
  - gitops/argocd/gcp/**/*
  - gitops/argocd/charts/**/**/values-gcp-*.yaml

cloud/ibmcloud:
  - terraform/ibmcloud/**/*
  - gitops/fluxcd/kubernetes/overlays/ibmcloud/**/*
  - gitops/fluxcd/clusters/ibmcloud/**/*
  - gitops/argocd/ibmcloud/**/*
  - gitops/argocd/charts/**/**/values-ibmcloud-*.yaml

cloud/scaleway:
  - terraform/scaleway/**/*
  - gitops/fluxcd/kubernetes/overlays/scaleway/**/*
  - gitops/fluxcd/clusters/scaleway/**/*
  - gitops/argocd/scaleway/**/*
  - gitops/argocd/charts/**/**/values-scaleway-*.yaml

cloud/homelab:
  - ansible/**/*
  - gitops/overlays/k3s/homelab
  - gitops/fluxcd/kubernetes/overlays/k3s/homelab/**/*
  - gitops/fluxcd/clusters/k3s/homelab/**/*
  - gitops/argocd/k3s/homelab/**/*
  - gitops/argocd/charts/**/**/values-k3s-homelab.yaml

cloud/cicd:
  - terraform/cicd/**/*
  - gitops/fluxcd/kubernetes/overlays/k3s/cicd/**/*
  - gitops/fluxcd/clusters/k3s/cicd/**/*
  - gitops/argocd/k3s/cicd/**/*
  - gitops/argocd/charts/**/**/values-k3s-cicd.yaml

######################################
# Label kind/xxx

kind/documentation:
  - README.md
  - docs/**/*

Fix: Docker image for Pandoc
  Makefile
  resume-fr.md
Labels: none

feat(resume): typo
  Makefile
  resume-en.md
  resume-fr.md
Labels: none

feat: use rendercv
  .gitignore
  .python-version
  Makefile
  README.md
  pyproject.toml
  resume-en.yaml
Labels: kind/documentation

feat: add resume
  Makefile
  Nicolas_Lamirault_CV.html
  Nicolas_Lamirault_CV.md
  Nicolas_Lamirault_CV.pdf
  resume-en.md
  resume-en.yaml
  resume-fr.md
Labels: none

feat: update
  Nicolas_Lamirault_CV.html
  Nicolas_Lamirault_CV.md
  Nicolas_Lamirault_CV.pdf
  resume-en.yaml
Labels: none

feat: update
  Nicolas_Lamirault_CV.html
  Nicolas_Lamirault_CV.md
  Nicolas_Lamirault_CV.pdf
  resume-en.yaml
Labels: none

Build Github Action
  .github/workflows/makefile.yml
Labels: area/github

feat(resume): add summary and expand skills sections
  resume-en.yaml
Labels: none

update resume
  Makefile
  Nicolas_Lamirault_CV.html
  Nicolas_Lamirault_CV.md
  Nicolas_Lamirault_CV.pdf
Labels: none
